
.imageBackgroundComponent {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;    
    z-index: -1;
    background-color: #272838;
}



.imageBackgroundComponent div {
    background-image: url("https://www.photocase.com/photos/3763332-developer-screen-with-colored-website-programming-code-photocase-stock-photo-large.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .25;
    display:block;
}

